body{
    font-family: 'Varela Round', sans-serif;
    background-color: #fff
}
.single-menu {
    padding-top: 90px;
    margin-top: -100px;
}
.generic-banner .height {
    height: 200px;
}

.generic-banner .generic-banner-content h2 {
    padding-top: 25%;
    font-size: 50px;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
}
.video-right {
    background: none;
}
.video-left {
    margin-top: -150px;
}
.video-left h6 {
    font-size: 20px;
    font-weight: 500;
}

.video-left p {
    margin-top: 14px;
}
.generic-banner {
    background: url(../img/background.jpg);
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}
#exTab1 .tab-content {
    background-color: #ffffff;
    padding : 5px 15px;
    border: 1px solid #ebebeb;
    position: absolute;
    width: 442px;
  }

.tab-content.clearfix {}
ul.nav.nav-pills {position: relative;width: 100%;vertical-align: middle;display: table;list-style: none;margin: 0;padding: 0;text-align: center;clear: both;z-index: 1;}

.nav-pills li {
    padding: 12px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background-color: #f6f6f6;
    color: white;
}

.nav-pills li.active {
    background: #be9c79;
}
.nav-pills li.hover {
    background: #be9c79;
}
#exTab1 .nav-pills > li.active > a {
    color: white;
}
#exTab1 .nav-pills > li.hover > a {
    color: white;
}

#exTab1 .nav-pills > li > a {
    font-size: 15px;
    color: #656565;
}

.tab-pane {
    background: white;
}

.tab-pane p {
    margin: 22px 27px;
    font-size: 13px;
}

.button-add-to-cart {background: #be9c79;width: 200px;height: 50px;line-height: 50px;top: 45%;left: 10%;position: absolute;margin-bottom: 19px;display: none}

.button-add-to-cart a {
    color: #fff;
}

.button-add-to-cart:hover {
    background: black;
    cursor: pointer;
}
  
.related-product h2 {
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 30px;
}

.related-product {
    margin-top: 150px;
    margin-bottom: 100px;
}

.content-related a {
    color: #262626;
    font-size: 24px;
}

span.price {
    font-size: 16px;
}

.content-related h5 {
    margin-bottom: 7px;
}

.content-related a:hover {
    color: #be9c79;
}

.title-about h2 {
    font-size: 45px;
    font-family: 'Varela Round', sans-serif;
}
  
.image-related {
    position: relative;
}

.image-related:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.image-related:hover .button-add-to-cart {
    display: block;
    transition: 0.4s;
}

h1.mb-10 {
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
}

.content h5 {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 10px 0;
    font-weight: 100;
}

.offers-content {
    text-align: center;
    margin-top: 20px;
}

.offers-area.col-md-3 {
    width: 50%;
}

.offers-area {
    margin: 80px;
}

.title h6 {
    font-size: 18px;
    font-weight: 300;
    padding-top: 24px;
    margin: auto;
    color: #777777;
    width: 600px;
}
div#coffee {
    margin-top: -20px;
}
img#title-separator-img, img#title-above-img {
    width: unset;
}
.row.img-gallery img:hover {
    opacity: 0.5;
}
.my-logo {
    height: 600px;
    background: url(../img/h1-bacground-img-2.jpg);
    background-attachment: fixed;
    background-position: 50% 49px;
}
.my-logo img {
    margin: 0;
    padding: 0;
    margin-left: 42%;
    margin-top: 12%;
}

ul.list-group-cate {
    font-size: 16px;
    margin-top: -14px;
}

.list-group-cate li {
    padding: 8px;
}

.list-group-cate li a {
    color: #656565;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
}

.list-group-cate li a:hover {
    color: #be9c79;
}
h3.mb-30 {
    font-family: 'Varela Round', sans-serif;
}

.stylish-input-group .input-group-addon{
    background: white !important;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: #ccc;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
	border-top-left-radius: 20px;
	padding-left: 18px;
	border-bottom-left-radius: 20px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    color: #9c9c9c;
}
.single-element-widget {
    margin-top: 50px;
    margin-left: 30px;
}

.page-link {
    color: #656565;
    border: none;
    background: none;
    font-size: 18px;
}

.page-link:hover {
    color: #be9c79;
    background: none;
    transition: 0.4s;
}

li.page-item {
    border: none;
}

ul.pagination.justify-content-center {margin-top: 20px;}

.list-group-product h5 {
    margin-top: -78px;
    font-size: 18px;
    margin-left: 111px;
}

.list-group-product p {
    margin-left: 111px;
    color: #be9c79;
    padding-top: 5px;
    font-size: 19px;
}

.list-group-product li {
    margin-top: 32px;
}

div#imaginary_container {
    margin-left: 30px;
}

ul.list-group-product {
    margin-top: -16px;
}

.list-group-product del {
    font-size: 13px;
    color: gray;
}

.default-select .nice-select {
    border: 1px solid #ccc;
    width: 200px;
    background: white;
}

div#default-select {
    margin-bottom: 27px;
    margin-left: auto;
}

.default-select .nice-select .list .option {
    font-size: 14px;
}